* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dix {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: #fdfcf9;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  z-index: 1000;
  transition: box-shadow 0.3s ease;
  animation: Slide_in_from_top 0.5s ease-in;
}
.dix.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.main-header {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  transition: all 0.5s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}

.others {
  display: flex;
  align-items: center;
  gap: 24px;
}
.others a {
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}

.others button {
  background-color: #5ca9e8;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Section1 */
.Section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  width: 70%;
  background-color: #fafafa;
}
@keyframes Slide_in_from_left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Slide_in_from_right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Slide_in_from_top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.SubSection1 {
  animation: Slide_in_from_left 0.5s ease-in;
  width: 49%;
}

.SubSection1 h1 {
  font-size: 3.3rem;
  font-weight: 700;
  padding-bottom: 20px;
  color: #1f2b45;
}

.SubSection1 h2 {
  font-size: 3.3rem;
  color: #5ba3d4;
  margin-bottom: 2.1rem;
  letter-spacing: 2px;
}

.SubSection1 p {
  font-size: 1.3rem;
  color: #334155;
  margin-bottom: 1rem;
  row-gap: 0.3rem;
  line-height: 150%;
  font-weight: 300;
}

.SS1MiniCard {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.MiniCard {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 50%;
  margin-bottom: 1.3rem;
  color: #333;
}

.MiniCard img {
  width: 20px;
}

.MiniCard h5 {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Card */

.card1 {
  display: flex;
  column-gap: 2rem;
  width: 100%;
  margin-bottom: 4rem;
}

.card1 img {
  width: 20px;
  color: white;
}

.card1 button:first-child {
  background-color: #5ca9e8;
  border: none;
  color: white;
  font-size: 16px;
  width: 35%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  transition: all 0.5s ease;
}
.card1 button:first-child:hover {
  background-color: white;
  color: #5ca9e8;
  border: 1px solid #5ca9e8;
  transform: scale(0.9);
}
.card1 button:last-child:hover {
  background-color: #5ca9e8;
  color: white;
  border: 0;
  transform: scale(0.9);
}
.card1 button:last-child {
  background-color: white;
  border: none;
  color: #5ca9e8;
  font-size: 16px;
  width: 35%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border: 1px solid #5ca9e8;
  transition: all 0.5s ease;
}

.card2 div {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.card2 div img {
  width: 14px;
  height: 14px;
}
.card2 div p {
  margin-bottom: 0;
  font-size: 13px;
  margin-right: 10px;
}

.SubSection1_2 {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Slide_in_from_right 0.5s ease-in;
}

.SubSection1_2Card {
  height: 330px;
  width: 90%;
  background-color: white;
  box-shadow: 2px 3px 2.3rem 2rem lightgray;
  border-radius: 20px;
  position: relative;
}
.SS1_2C1 {
  width: 170px;
  height: 60px;
  position: absolute;
  top: -15px;
  left: -25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px 5px lightgray;
  display: flex;
  column-gap: 1rem;
  padding: 0 10px;
  align-items: center;
}
.SS1_2C1 img {
  width: 20px;
  height: 20px;
}
.SS1_2C1 div p:first-child {
  font-size: 10px;
  font-weight: 200;
}

.SS1_2C1 div p:last-child {
  font-size: 13px;
  font-weight: 600;
}

.SS1_2C2 {
  width: 170px;
  height: 60px;
  position: absolute;
  bottom: -15px;
  right: -25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px 5px lightgray;
  display: flex;
  column-gap: 1rem;
  padding: 0 10px;
  align-items: center;
}
.SS1_2C2 img {
  width: 20px;
  height: 20px;
}
.SS1_2C2 div p:first-child {
  font-size: 10px;
  font-weight: 200;
}

.SS1_2C2 div p:last-child {
  font-size: 13px;
  font-weight: 600;
}

.SS1_2p {
  width: 100%;
  background: #5ca9e8;
  height: 50px;
  border-radius: 20px 20px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SubSection1_2inner {
  width: 100%;
  padding: 1.3rem;
}
.SubSection1_2inner video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/*Section 2*/

/* Section3 */
.Section3 {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
  background-color: #fdfcf9;
}

.SubSection3 h1 {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  color: #1a1a2e;
}

.SubSection3 h2 {
  font-size: 30px;
  font-weight: 700;
  color: #5ca9e8;
  margin: 5px 0 20px;
}

.SubSection3 p {
  margin: 0 auto 40px;
  font-size: 16px;
  color: #1a1a2e;
}

.SubSection3_1 {
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  padding: 50px 20px;
}

.SubSection3_1 img {
  margin-right: 40px;
  width: 700px;
}

.List {
  column-gap: 10px;
  text-align: left;
  width: 45%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.List_1 {
  display: flex;
  margin-bottom: 2rem;
}

.List_1 img {
  width: 50px;
  height: 50px;
}

.List h5 {
  font-size: 30px;
  padding-bottom: 20px;
  gap: 10px;
}

.List p {
  font-size: 18px;
  color: #202020;
}

.List ul {
  font-size: 15px;
  color: #5ca9e8;
}

/* ROI DIV */

.ROI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5da3d4;
  color: #fff;
  padding: 40px;
  border-radius: 12px;
  max-width: 1100px;
  margin: 40px auto;
  gap: 30px;
}

.ROIW {
  flex: 1;
}

.ROIW h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.ROIW p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.ROIW button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: #2a7dd6;
  font-size: 14px;
}

.ROIX {
  flex: 1;
  gap: 20px;
  text-align: center;
}

.ROIX h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.ROIX p {
  font-size: 13px;
  color: #f0f0f0;
  margin: 5px 0 0;
}

.ROIX h5 img {
  width: 30px;
  margin: 0 auto 10px;
}

/* Section4 */

.Section4 {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
}

.Section4 h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.Section4 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #5ba3d4;
  margin: 5px 0 20px;
}

.Section4 p {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
  font-size: 16px;
}

.SS4MiniCard4 {
  display: flex;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.MiniCard4 {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
}

.MiniCard4 img {
  width: 20px;
  margin-bottom: 15px;
}

.MiniCard4 h5 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
}

.MiniCard4 p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* INDUS */
.Indus {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
  font-family: Arial, sans-serif;
}

.Indussub1 h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.Indussub1 h2 {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
  font-size: 16px;
}

.Indussub2 {
  padding-left: 35%;
  display: flex;
  gap: 20px;
  max-width: 1100px;
  align-items: center;
}

.Indussub2_1 img {
  width: 30px;
  height: 30px;
}

.Indussub2_1 h5 {
  font-size: 15px;
  color: #555;
}

/*Section 5*/
.Section5 {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
  font-family: Arial, sans-serif;
}

.SubSection5 h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.SubSection5 p {
  margin-bottom: 1rem;
  color: #555;
  font-size: 15px;
}

.Section5 button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #5ba3d4;
  color: #fff;
  font-size: 14px;
}

/*Section 6*/
.Section6 {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
  font-family: Arial, sans-serif;
}

.SubSection6 h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.SubSection6 p {
  margin-bottom: 1rem;
  color: #555;
  font-size: 20px;
}

.SubSection6_1 {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
}

.SubSection6_1 h1 {
  font-size: 18px;
  font-style: italic;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
}

.SubSection6_1 h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.SubSection6_1 p {
  font-size: 14px;
  color: #666;
}

.SubSection6_2 {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background: #f9fbfd;
  border-radius: 12px;
  gap: 20px;
}

.SubSection6_2 h1 {
  font-size: 50px;
  color: #5ba3d4;
  font-weight: bold;
  margin: 0;
}

.Section6_2 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #555;
  margin: 5px 0 20px;
}

.Section6_2 p {
  font-size: 14px;
  color: #555;
}

/* Section 7 */

.Section7 {
  text-align: center;
  padding: 50px 20px;
  background: #f9fbfd;
}

.SubSection7 h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.SubSection7 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #5ba3d4;
  margin: 5px 0 20px;
}

.SubSection7 p {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
  font-size: 16px;
}

/*Request Demo SubSection7_1*/

.SubSection7_1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto;
}

.Form7_1 {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.Form7_1 h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.Form7_1 form {
  display: grid;
  gap: 12px;
}

.Form7_1 input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  font-size: 14px;
}

.Form7_1 select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.Form7_1 textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.Form7_1 label {
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 3px;
  color: #333;
}

.Form7_1 button {
  background: #5da3d4;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin-top: 10px;
}

.Form7_1 button img {
  width: 20px;
  height: 20px;
}

.Form7_2 {
  flex: 1;
}

.Form7_2 h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.Touch {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.Touch img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.Touch p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.Touch p strong {
  display: block;
  margin-bottom: 3px;
  color: #222;
}

/* .Form7_3 */

.Form7_3 {
  background: #71aed9;
  color: #fff;
  border-radius: 12px;
  max-width: 700px;
  height: 150px;
}

.Form7_3 img {
  width: 20px;
  height: 20px;
}

.Form7_3 h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Form7_3 h5 {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.Form7_3 p {
  font-size: 13px;
  color: #f0f0f0;
  margin-bottom: 8px;
}

/* .Form7_4  */

.Form7_4 {
  margin-top: 4rem;
  background: #fff;

  border-radius: 12px;
  max-width: 700px;
  height: 150px;
}

.Form7_4 img {
  width: 20px;
  height: 20px;
}

.Form7_4 h4 {
  font-size: 18px;
  font-weight: bold;
  color: #1a1a2e;
  margin-bottom: 20px;
}

.Form7_4 h5 {
  font-size: 13px;
  font-weight: lighter;
  color: #1a1a2e;
  margin-bottom: 20px;
}

.Form7_4 p {
  font-size: 13px;
  color: #5ba3d4;
  margin-bottom: 8px;
}

/* Footer: Section 8 */
footer {
  background: #1e2a44;
  color: #cfd8e3;
  padding: 40px 80px;
  font-size: 15px;
}

.Section8 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.Section8 h2 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.Section8 h3 {
  font-size: 16px;
  color: #5ba3d4;
  margin-bottom: 12px;
}

.Section8 p {
  font-size: 14px;
  line-height: 1.6;
  margin: 6px 0;
}

.Section8 a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.Link {
  flex: 1;
  min-width: 220px;
}

.Link h2 {
  color: #fff;
  margin-bottom: 10px;
}

.LinkI img {
  width: 30px;
  margin-right: 8px;
}

.Link_1 {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.Link_1 h3 {
  color: #56a5ff;
  margin-bottom: 10px;
}

.Link_1 a {
  text-decoration: none;
  color: #fff;
  margin: 4px 0;
}

.SubSectin8 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #234;
  margin-top: 30px;
  padding-top: 20px;
}

.contact {
  flex: 1;
}

.contact h3 {
  color: #56a5ff;
  margin-bottom: 10px;
}

.contact p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.compliance {
  flex: 1;
}

.compliance {
  text-align: left;
}

.compliance h3 {
  color: #56a5ff;
  margin-bottom: 10px;
}
.compliance p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.compliance img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.privacy {
  border-top: 1px solid #234;
  margin-top: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #fff;
  width: 100%;
}

.privacy_links {
  display: flex;
  gap: 20px;
}
.privacy_links a {
  text-decoration: none;
  color: #fff;
}
